@{
    ViewBag.Title = "Halls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Halls</h2>
<table id="ddls">
    <tr>
        <td>
            @Html.Label("Country", "Select Country")
            @Html.DropDownList("Country", new SelectList(ViewBag.Countries, "CountryId", "CountryName"), "Please Select a Country")
        </td>
        <td>
            @Html.Label("State", "Select State")
            @Html.DropDownList("State", new SelectList(Enumerable.Empty<SelectListItem>(), "StateId", "StateName"), "Please Select a State")
        </td>
        <td>
            @Html.Label("City", "Select City")
            @Html.DropDownList("City", new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Please Select a City")
        </td>
    </tr>
</table>

<div id="viewPlaceHolder"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript">
        $('#Country').change(function () {
            var countryId = $('#Country').val();
            $.ajax({
                url: '/Agent/Users/BindStates',
                type: "Get",
                dataType: "JSON",
                data: { CountryId: countryId },
                success: function (states) {
                    var items = '<option>Please Select a State</option>';
                    $.each(states, function (i, state) {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    });
                    $('#State').html(items);
                    $('#City').html('<option>Please Select a City</option>');
                },
                Error: function (error) {
                    alert("There is some Error")
                }
            });
        });
        $('#State').change(function () {
            var stateId = $('#State').val();
            $.ajax({
                url: '/Agent/Users/BindCites',
                type: "Get",
                dataType: "JSON",
                data: { StateId: stateId },
                success: function (cites) {
                    var items = '<option>Please Select a City</option>';
                    $.each(cites, function (i, cite) {
                        items += "<option value='" + cite.Value + "'>" + cite.Text + "</option>";
                    });
                    $('#City').html(items);
                },
                Error: function (error) {
                    alert("There is some Error")
                }
            });
        });
        $('#City').change(function () {
            var cityId = $('#City').val();
            $("#viewPlaceHolder").load("/Halls/AllHalls/GetAllHalls",
            { CityID: cityId});
        });

</script>