
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.InValidOldPassword != null)
{
    <h3 style="color:red;text-align:center;">@ViewBag.InValidOldPassword</h3>
    ViewBag.InValidOldPassword = null;
}
@using (Html.BeginForm("ChangePassword","Users",FormMethod.Post,new { id="registration-form"}))
{
    <h2 style="color:red;text-align:center">Change Password</h2>
    <table align="center" style="height:50%;width:50%" border="0">
        <tr>
            <td>@Html.Label("Old Password")</td>
            <td>@Html.Password("OldPassword")</td>
        </tr>
        <tr>
            <td>@Html.Label("New Password")</td>
            <td>@Html.Password("Password","",new { id="Password_Id"})</td>
        </tr>
        <tr>
            <td>@Html.Label("ConfirmPassword")</td>
            <td>@Html.Password("ConfirmPassword")</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}
<script src="~/Scripts/RegistrationFormValidation.js"></script>
<link href="~/Content/ValidationStyles.css" rel="stylesheet" />
<script>
    $('h3').fadeOut(10000);
</script>