@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ResetPasswordLinkExpires != null)
{
    <table class="forgotten">
        <tr>
            <td><h3 style="color:red">@ViewBag.ResetPasswordLinkExpires</h3></td>
        </tr>
    </table>
}
else
{
    using (Html.BeginForm())
    {
        <h3 style="color:red;text-align:center">Reset Password</h3>
        <table align="center" style="height:50%;width:50%" border="0">
            <tr>
                <td>@Html.Label("Password")</td>
                <td>@Html.Password("Password")</td>
            </tr>
            <tr>
                <td>@Html.Label("ConfirmPassword")</td>
                <td>@Html.Password("ConfirmPassword")</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    }
}
