@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
<div>
    @if (ViewBag.InValidOldPassword != null)
    {
        <h3>@ViewBag.InValidOldPassword</h3>
    }
    <form id="Login" method="post">
        <table>
            <tr>
                <td>@Html.Label("OldPassword")</td>
                <td>@Html.TextBox("OldPassword", "")</td>
            </tr>
            <tr>
                <td>@Html.Label("NewPassword")</td>
                <td>@Html.TextBox("NewPassword", "")</td>
            </tr>
             <tr>
                <td>@Html.Label("ConfirmPassword")</td>
                <td>@Html.TextBox("ConfirmPassword", "")</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="Submit" id="btnSubmit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
